<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>

    <GridLayout rows="*, auto">

      <!-- main content -->
      <GridLayout>
            <Tabs [selectedIndex]="selectedIndex" (selectedIndexChanged)="onSelectedIndexChanged($event)">
                <TabContentItem [backgroundColor]="tabList[0].backgroundColor">
                    <StackLayout>
                        <Label text="welcome" class="h1 text-center p-t-20"></Label>


                        <GridLayout>
        <ListView [items]="items">
            <ng-template let-item="item">
                <StackLayout>
                    <Label [nsRouterLink]="['../item', item.id]" [text]="item.name"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </GridLayout>


                    </StackLayout>
                </TabContentItem>

                <TabContentItem [backgroundColor]="tabList[1].backgroundColor">
                    <StackLayout>
                        <Label text="Bottom Nav Content 2" class="h1 text-center p-t-20"></Label>
                    </StackLayout>
                </TabContentItem>

                <TabContentItem [backgroundColor]="tabList[2].backgroundColor">
                    <StackLayout>
                        <Label text="Bottom Nav Content 3" class="h1 text-center p-t-20"></Label>
                    </StackLayout>
                </TabContentItem>

                <TabContentItem [backgroundColor]="tabList[3].backgroundColor">
                    <StackLayout>
                        <Label text="Bottom Nav Content 4" class="h1 text-center p-t-20"></Label>
                    </StackLayout>
                </TabContentItem>

                <TabContentItem [backgroundColor]="tabList[4].backgroundColor">
                    <StackLayout>
                        <Label text="Bottom Nav Content 5" class="h1 text-center p-t-20"></Label>
                    </StackLayout>
                </TabContentItem>
            </Tabs>
        </GridLayout>

        <!-- bottom tabs -->

    </GridLayout>
    <GridLayout rows="*, auto">

      <!-- main content -->
      <GridLayout>
            <Tabs [selectedIndex]="selectedIndex" (selectedIndexChanged)="onSelectedIndexChanged($event)">
                <TabContentItem [backgroundColor]="tabList[0].backgroundColor">
                    <StackLayout>
                        <Label text="Bottom Nav Content 1" class="h1 text-center p-t-20"></Label>
                    </StackLayout>
                </TabContentItem>

                <TabContentItem [backgroundColor]="tabList[1].backgroundColor">
                    <StackLayout>
                        <Label text="Bottom Nav Content 2" class="h1 text-center p-t-20"></Label>
                    </StackLayout>
                </TabContentItem>

                <TabContentItem [backgroundColor]="tabList[2].backgroundColor">
                    <StackLayout>
                        <Label text="Bottom Nav Content 3" class="h1 text-center p-t-20"></Label>
                    </StackLayout>
                </TabContentItem>

                <TabContentItem [backgroundColor]="tabList[3].backgroundColor">
                    <StackLayout>
                        <Label text="Bottom Nav Content 4" class="h1 text-center p-t-20"></Label>
                    </StackLayout>
                </TabContentItem>

                <TabContentItem [backgroundColor]="tabList[4].backgroundColor">
                    <StackLayout>
                        <Label text="Bottom Nav Content 5" class="h1 text-center p-t-20"></Label>
                    </StackLayout>
                </TabContentItem>
            </Tabs>
        </GridLayout>

        <!-- bottom tabs -->

    </GridLayout>
