<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
  <Label class="fab fa-old-republic" text="&#xf510;"></Label>
</ActionBar>

<GridLayout class="page__content">

  <Label text="Home" class="	fas fa-jedi" text="&#xf669;" ></Label>
    <Label class="page__content-placeholder" text="<!-- Page content goes here -->"></Label>


</GridLayout>
