<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Search"></Label>
</ActionBar>



<TabView iosIconRenderingMode="alwaysOriginal">
    <StackLayout *tabItem="{title: 'informacion', iconSource: 'res://icon'}">
        <StackLayout>
            <Label text="direccion heredia san jorge" ></Label>
              <Label text="detras del mall oxigeno" ></Label>
                <Label text="local esquinero" ></Label>
        </StackLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: 'productos', iconSource: 'res://icon'}">
        <StackLayout>

        <Label class="text-right" text="My text is right aligned"></Label>

        </StackLayout>
    </StackLayout>
</TabView>
